page-home {
  ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;

      &::-webkit-scrollbar {
          width: 0;
          height: 0;
          display: none;
      }

      ion-segment-button.segment-button {
          display: inline-block;
          min-width: 90px;
          width: auto;
      }
  }
  ion-toolbar {
    padding: 0px 4px !important;
    min-height: 43px !important;
  }

  .toolbar-ios ion-title {
    padding: 0 0px 1px;
  }
}
